*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #ffffff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    transition: .3s;
}
.navbar a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #19b5a5;
}
.home{
    background: url(Diseño\ sin\ título.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #19b5a5;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    width: 345px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #260d33;
    border: 2px solid #19b5a5;
    border-radius: 8px;
    font-size: 19px;
    color: #19b5a5;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #19b5a5;
}
.btn-box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #19b5a5;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
.home-sci a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;

}
.imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 522px;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home .imgHover:hover{
    background-color: #010D23;
    opacity: .8;
}